# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ConsoleApp/obj/Debug/ConsoleApp.csprojResolveAssemblyReference.cache
*.suo
.vs/Formigination_Web/v14/.suo
*.pdb
ConsoleApp/bin/Debug/Formigination_DataService.dll
*.pdb
ConsoleApp/obj/Debug/ConsoleApp.csprojResolveAssemblyReference.cache
*.suo
ConsoleApp/bin/Debug/ConsoleApp.exe
*.dll
ConsoleApp/bin/Debug/Formigination_DataService.dll
*.cache
ConsoleApp/obj/Debug/ConsoleApp.exe
*.dll
Formigination_DataService/obj/Debug/Formigination_DataService.dll
*.pdb
Formigination_Service/bin/Formigination_DataService.pdb
*.exe
*.pdb
.vs/Formigination_Web/v14/.suo
*.suo
ConsoleApp/bin/Debug/ConsoleApp.exe
*.pdb
ConsoleApp/obj/Debug/ConsoleApp.csprojResolveAssemblyReference.cache
*.dll
Formigination_DataService/bin/Debug/Formigination_DataService.pdb
*.dll
Formigination_Service/bin/Formigination_DataService.pdb
